<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "Testng automation suite"> 

<test name = "different testing feature test">
<classes>

<class name = "com.practice.Googletitle" />
<class name = "com.practice.TestingBasics" />
<class name = "com.Infiniteloop.Infiniteloop" />

</classes>

</test>
</suite>
















</suite>